<a href="https://colab.research.google.com/github/fabioeomedeiros/Data-Science-Base/blob/main/02_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Biblioteca Pandas

In [2]:
import pandas as pd
dados = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data Science/Datas/01_exemplo.csv')
dados.head()

   1  A
0  2  B
1  3  C
2  4  D
3  5  E
4  6  F

In [3]:
df_dados = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data Science/Datas/athlete_events.csv')
df_dados.head()

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]