<a href="https://colab.research.google.com/github/fabioeomedeiros/Data-Science-Base/blob/main/04_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Frame

In [26]:
import pandas as pd
import numpy as np


alunos_dict = {'Nome': ['Ricardo', 'Pedro', 'Roberto', 'Carlos'],
               'Notas': [4.0, 9.0, 5.5, 9.0],
               'Aprovado': ['N', 'S', 'N', 'S']}
print(alunos_dict)
print(type(alunos_dict))

{'Nome': ['Ricardo', 'Pedro', 'Roberto', 'Carlos'], 'Notas': [4.0, 9.0, 5.5, 9.0], 'Aprovado': ['N', 'S', 'N', 'S']}
<class 'dict'>

In [27]:
alunos_df = pd.DataFrame(alunos_dict)
print(alunos_df)
print(type(alunos_df))

      Nome  Notas Aprovado
0  Ricardo    4.0        N
1    Pedro    9.0        S
2  Roberto    5.5        N
3   Carlos    9.0        S
<class 'pandas.core.frame.DataFrame'>

### Funções de Data Frame

In [28]:
print(alunos_df)
print(alunos_df.shape) #número de linhas e colunas do Data Frame
print(alunos_df.describe()) #exibe estatísticas do Data Frame

      Nome  Notas Aprovado
0  Ricardo    4.0        N
1    Pedro    9.0        S
2  Roberto    5.5        N
3   Carlos    9.0        S
(4, 3)
          Notas
count  4.000000
mean   6.875000
std    2.528998
min    4.000000
25%    5.125000
50%    7.250000
75%    9.000000
max    9.000000

### Filtros Linhas e Colunas

In [29]:
print(alunos_df['Nome']) #Filtra coluna pela chave

0    Ricardo
1      Pedro
2    Roberto
3     Carlos
Name: Nome, dtype: object

In [30]:
print(alunos_df.loc[[0]]) #Filtra linha pela função loc() e índice(s) da(s) linha(s)
print(alunos_df.loc[[1, 3]])
print(alunos_df.loc[[2, 0]])
print(alunos_df.loc[0:2])

      Nome  Notas Aprovado
0  Ricardo    4.0        N
     Nome  Notas Aprovado
1   Pedro    9.0        S
3  Carlos    9.0        S
      Nome  Notas Aprovado
2  Roberto    5.5        N
0  Ricardo    4.0        N
      Nome  Notas Aprovado
0  Ricardo    4.0        N
1    Pedro    9.0        S
2  Roberto    5.5        N

In [31]:
alunos_df.loc[alunos_df['Notas'] == 9] #Filtra linha atravéz de chave

     Nome  Notas Aprovado
1   Pedro    9.0        S
3  Carlos    9.0        S