<a href="https://colab.research.google.com/github/fabioeomedeiros/Data-Science-Base/blob/main/05_Manipulacao_de_tabelas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manipulação de Tabelas

In [8]:
import pandas as pd


dados = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data Science/Datas/athlete_events.csv')
print(type(dados))
dados.head()

<class 'pandas.core.frame.DataFrame'>

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

### Mudando nome das colunas

In [43]:
dados.rename(columns = {'Name':'Nome',
                        'Sex':'Sexo',
                        'Age':'Idade',
                        'Height':'Altura',
                        'Weight':'Massa',
                        'Team':'País',
                        'Games':'Jogos',
                        'City':'Cidade',
                        'Year':'Ano',
                        'Medal':'Medalha',
                        'Sport':'Esporte',
                        'Season':'Temporada'}, inplace = True) #'inplace = True' : não mostra os resultados

dados.describe()

alturas = dados['Altura']
print(type(alturas))
print(alturas.describe())

<class 'pandas.core.series.Series'>
count    210945.000000
mean        175.338970
std          10.518462
min         127.000000
25%         168.000000
50%         175.000000
75%         183.000000
max         226.000000
Name: Altura, dtype: float64

In [30]:
# print(dados['Medal'])
print(dados['Medal'].value_counts())
print()
print(dados['Cidade'].value_counts())

Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

London                    22426
Athina                    15556
Sydney                    13821
Atlanta                   13780
Rio de Janeiro            13688
Beijing                   13602
Barcelona                 12977
Los Angeles               12423
Seoul                     12037
Munich                    10304
Montreal                   8641
Mexico City                8588
Helsinki                   8270
Roma                       8119
Tokyo                      7702
Moskva                     7191
Paris                      7169
Berlin                     6506
Amsterdam                  4992
Sochi                      4891
Melbourne                  4829
Vancouver                  4402
Torino                     4382
Stockholm                  4338
Antwerpen                  4292
Salt Lake City             4109
Innsbruck                  3639
Nagano                     3605
Albertville                3436
Lillehammer                3160
Calgary                    2639
Sarajevo                   2134
Lake Placid                2098
Grenoble                   1891
Sankt Moritz               1657
Sapporo                    1655
Cortina d'Ampezzo          1307
St. Louis                  1301
Squaw Valley               1116
Oslo                       1088
Garmisch-Partenkirchen      895
Chamonix                    460
Name: Cidade, dtype: int64

### Excluindo Coluna

In [44]:
dados.drop('ID', axis=1) #axis=0 -> linha | axis=1 -> coluna | Exclui a coluna 'ID'
dados.drop('Temporada', axis=1)
dados.drop('Jogos', axis=1)
dados.drop('Ano', axis=1)
dados.drop('Event', axis=1)

            ID                      Nome  ...        Esporte  Medalha
0            1                 A Dijiang  ...     Basketball      NaN
1            2                  A Lamusi  ...           Judo      NaN
2            3       Gunnar Nielsen Aaby  ...       Football      NaN
3            4      Edgar Lindenau Aabye  ...     Tug-Of-War     Gold
4            5  Christine Jacoba Aaftink  ...  Speed Skating      NaN
...        ...                       ...  ...            ...      ...
271111  135569                Andrzej ya  ...           Luge      NaN
271112  135570                  Piotr ya  ...    Ski Jumping      NaN
271113  135570                  Piotr ya  ...    Ski Jumping      NaN
271114  135571        Tomasz Ireneusz ya  ...      Bobsleigh      NaN
271115  135571        Tomasz Ireneusz ya  ...      Bobsleigh      NaN

[271116 rows x 14 columns]