<a href="https://colab.research.google.com/github/fabioeomedeiros/Data-Science-Base/blob/main/10_Machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning
## Classificando Vinhos

### Importando as tabelas

In [29]:
import pandas as pd
arquivo = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data Science/Datas/wine_dataset.csv')
dados = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data Science/Datas/wine_dataset.csv')

In [30]:
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [31]:
dados.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

### Verificando Dados

In [32]:
print(f"Dimenções do Dataframe: {dados.shape}") #Imprime número de linhas e colunas do dataframe
dados_null_percent = (dados.isnull().sum() / len(dados['pH']))*100 #Verificando quantos dados são nulos
dados_null_percent.head(13)

Dimenções do Dataframe: (6497, 13)

fixed_acidity           0.0
volatile_acidity        0.0
citric_acid             0.0
residual_sugar          0.0
chlorides               0.0
free_sulfur_dioxide     0.0
total_sulfur_dioxide    0.0
density                 0.0
pH                      0.0
sulphates               0.0
alcohol                 0.0
quality                 0.0
style                   0.0
dtype: float64

### Trabalhando Dados

In [34]:
#Substituindo os valores 'red' => 1 e 'white' => 0
dados['style'] = dados['style'].replace('red', 1)
dados['style'] = dados['style'].replace('white', 0)
dados

      fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0               7.4              0.70         0.00  ...      9.4        5      1
1               7.8              0.88         0.00  ...      9.8        5      1
2               7.8              0.76         0.04  ...      9.8        5      1
3              11.2              0.28         0.56  ...      9.8        6      1
4               7.4              0.70         0.00  ...      9.4        5      1
...             ...               ...          ...  ...      ...      ...    ...
6492            6.2              0.21         0.29  ...     11.2        6      0
6493            6.6              0.32         0.36  ...      9.6        5      0
6494            6.5              0.24         0.19  ...      9.4        6      0
6495            5.5              0.29         0.30  ...     12.8        7      0
6496            6.0              0.21         0.38  ...     11.8        6      0

[6497 rows x 13 columns]

In [43]:
#Separando os dados entre variáveis alvo e variáveis preditoras
alvo = dados['style']
pred = dados.drop('style', axis=1)
print("Variável alvo")
print(alvo)
print()
print("Variável preditora")
print(pred)

Variável alvo
0       1
1       1
2       1
3       1
4       1
       ..
6492    0
6493    0
6494    0
6495    0
6496    0
Name: style, Length: 6497, dtype: int64

Variável preditora
      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
3              11.2              0.28         0.56  ...       0.58      9.8        6
4               7.4              0.70         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
6492            6.2              0.21         0.29  ...       0.50     11.2        6
6493            6.6              0.32         0.36  ...       0.46      9.6        5
6494            6.5              0.24         0.19  ...       0.46      9.4        6
6495            5.5              0.29         0.30  ...       0.38     12.8        7
6496            6.0              0.21         0.38  ...       0.32     11.8        6

[6497 rows x 12 columns]

### Treinando Dados

In [44]:
#Importando biblioteca
from sklearn.model_selection import train_test_split

#Criando conjuntos de dados de treino e dados de teste
pred_treino, pred_teste, alvo_treino, alvo_teste = train_test_split(pred, alvo, test_size = 0.3)